body {
  font-family: "Open Sans";
  font-weight: 300;
  background: #fff;
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  text-decoration: none;
  &:hover {
    color: #f33;
  }
}

h1 {
  font-family: Montserrat;
  letter-spacing: 7px;
  font-size: 30px;
  color: #000;
  font-weight: 700;
}

*, *:after, *:before {
  box-sizing: border-box;
}

*:after, *:before {
  content: '';
}

:global(#main) {
  display: flex;
}

:global(#profile) {
  margin: 0 auto;
  padding-top: 140px;
}

@media (max-width: 700px) {
  :global(#profile) {
    padding-top: 20px;
  }
}

.fboxRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  $size: 140px;

  margin-top: 20px;
  margin-bottom: 20px;
  height: $size;
  width: $size;
  border-radius: 50%;
  background: no-repeat url(../assets/my-avatar-square.png);
  background-size: $size;
}

.email {
  margin-top: 8px;
  font-size: 13px;
  letter-spacing: .12em;
  text-align: center;
}

.item {
  margin-top: 40px;
  a {
    letter-spacing: 2px;
    font-size: 15px;
    color: #777;
    text-decoration: none;
    transition: color .2s ease;
    line-height: 1.7em;
    &:hover {
      color: #f33;
    }
  }
  .fboxRow {
    margin-bottom: 8px;
  }
}
